.button-container {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 300;
  color: beige;
  background-color: #1b1b32;
  border-radius: 25px;
  border: 2px solid #aaaa73;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}

.button-container:hover {
  background-color: #aaaa738d;
  transition: ease-in-out;
}

.operator {
  background-color: #aaaa73;
  border: 2px solid #1b1b32;
}

.operator:hover {
  background-color: #1b1b3289;
  transition: ease-in-out;
}
