.imgcard-container {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.imgcard-title {
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(170, 170, 115);
  line-height: 1.1;
  margin-bottom: 15px;
}

.light {
  color: rgb(170, 170, 115);
}

.imgcard-img {
  width: 250px;
  height: 250px;
  box-shadow: -6px 5px 15px 1px rgba(30, 29, 29, 0.407);
}

.circle {
  border-radius: 50%;
}

.imgcard-description {
  font-size: 1em;
  color: rgb(170, 170, 115);
}
