.painters-title {
  max-width: 940px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.painters {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(202, 197, 197);
}

.cards-container {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
