.clear-button {
  height: 70px;
  font-size: 2em;
  font-weight: 600;
  color: beige;
  display: flex;
  flex: 1;
  margin: 10px;
  justify-content: center;
  align-items: center;
  background-color: #aaaa73;
  border: 2px solid #1b1b32;
  border-radius: 25px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #1b1b3289;
  transition: ease-in-out;
}
